@mixin loaderWrapperSettings {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #ECF0F1;
    /* display: none; */
}
@mixin popupElementSettings {
    display: none ;
    background:rgba(0,0,0,0.75);
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:0 auto !important;
}
@mixin popupContentSettings {
    color:#000 !important;
    background: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin closeIconSettings {
    font-size: 35px;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    position: absolute;
    top: -20px;
    right: -17px;
    cursor: pointer;
    color: lightblue;
    cursor: pointer;
}
@mixin closeIconHoverSettings {
    color: red;
    transition: all ease-in 250ms;
}
@mixin beerHeading {
    font-size: 2.500em;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px 0 16px 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
@mixin mainDivSettings {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    cursor: pointer;
    margin:20px;
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out; 
}
@mixin beerinfobox {
    display: flex;
    justify-content: space-evenly;
}
@mixin beerInfoLeftSide{
    width: 181px;
}
@mixin beerInfoRightSide {
    width: 75%;
    display: block;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
@mixin mainDiv2img {
    width: auto;
    max-width: 100%;
    height: 200px;
}
@mixin fontSettingGeneral {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
@mixin appHeading {
    text-align: center;
    margin: 30px auto 0 0;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
@mixin beerstatslistsettings {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 5px 0 6px 0;
}