 .wave {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 26vh;
  }
  .wave div {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    /*background: #25c1ac;*/
    animation: wave 2.6s cubic-bezier(0.626, 0, 0, 1) infinite;
    margin-right: 13px;
  }
  .wave div:nth-child(1) {
    animation-delay: -0.34667s;
    background: url('../img/preloderimg.png') no-repeat;
    height: 301px;
    background-size: contain;
    width: 100px;
  }
  .wave div:nth-child(2) {
    animation-delay: -0.26s;
    background: url('../img/preloderimg.png') no-repeat;
    height: 301px;
    background-size: contain;
    width: 100px;
  }
  .wave div:nth-child(3) {
    animation-delay: -0.17333s;
    height: 301px;
    background-size: contain;
    width: 100px;
    background: url('../img/preloderimg.png') no-repeat;
  }
  .wave div:nth-child(4) {
    animation-delay: -0.08667s;
    height: 301px;
    background-size: contain;
    width: 100px;
    background: url('../img/preloderimg.png') no-repeat;
  }
  
  @keyframes wave {
    0% {
      transform: translateY(0px);
    }
    40% {
      transform: translateY(0px);
     
    }
    60% {
      
      transform: translateY(20px);
    }
    80% {
      
      transform: translateY(-20px);
    }
    100% {
     
      transform: translateY(0px);
    }
  }
  .active {
      display: block !important;
  }
  .hide {
      display: none !important;
  }