@import '/sass/partials/__reset';
@import '/sass/partials/__font';
@import '/sass/partials/__preloder'; 
@import '/sass/partials/__mixins';
@import '/sass/modules/__colors';
@import '/sass/partials/__appwrapper';
*{box-sizing: border-box;}
body {
  background: #fbfcfc;
}    
.mainDiv img  {
    width: 50%;
}
#loader-wrapper {
  @include loaderWrapperSettings;
}
.popupElement {
  @include popupElementSettings;
}
.popuptext {
  @include popupContentSettings;
}
.popuptext img {
  width: 60%;
}
.closePopup {
 @include closeIconSettings;
  &:hover {
    @include closeIconHoverSettings;
  }
}
.beerHeading {
  @include beerHeading;
}
.beerinfo {
 @include beerinfobox;
}
.beerinfo_left {
 @include beerInfoLeftSide;
}
.beerinfo_right {
 @include beerInfoRightSide;
  p {
    margin: 15px 0 16px 0;
    span {
      font-weight: 700;
    }
  }
}
.GoodWidthHeading {
  font-weight: 700;
}
.beerStats {
  @include beerstatslistsettings;
  li {
    margin: 0 5px 0 0;
  }
}
.foodsreplace {
  margin: 5px 0 6px 0 !important;
}
.beerStatsHeading {
  margin: 5px 0 6px 0 !important;
}
.mainDiv2 {
  width: 300px;
  display: inline-flex;
}
.mainDiv2 div {
  @include mainDivSettings; 
  &:hover {
    transform: scale(1.1);
  }
  img  {
   @include mainDiv2img;
  }
  h2 {
    @include fontSettingGeneral;
  }
  p {
    @include fontSettingGeneral;
  }
}
.appHead {
  @include appHeading;
}
.active {
  display: block;
}
.hideBoddyScroll {
  overflow-x: hidden;
  overflow-y: hidden;
}
.hide {
  display: none !important;
}