

*{
  box-sizing: border-box;
}
.mainDiv img  {
    width: 50%;
}
#loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ECF0F1;
  /* display: none; */
}
#popupElement {
    display: none ;
    background:rgba(0,0,0,0.75);
    width: 100% !important;
    height: 100% !important;
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:0 auto !important;
}
.popuptext {
  color:#000 !important;
  background: #fff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 22vh;
  flex-direction: column;
  width: 600px;

}
.popuptext img {
  width: 100%;
}
.closePopup {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
}
.bearHeading {
  font-size: 50px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.beerinfo {
  display: flex;
  justify-content: space-evenly;
}
.beerinfo_left {
  width: 181px;
}
.beerinfo_right {
  width: 52%;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}
body {
    background: #fbfcfc;
  }
  
 

#mainDiv2 div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    cursor: pointer;
    margin:20px;
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out; 
  }
.mainDiv div:hover {
    transform: scale(1.1);
  }
#mainDiv2 div img {
    width: auto;
    max-width: 100%;
    height: 200px;
  }
#mainDiv2 div h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#mainDiv2 div p {
      text-align: center;
      font-family: 'Roboto', sans-serif;
  }
  .appHead {
      text-align: center;
      margin:0 auto;
      font-size: 3em;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
  }
  .appwrapper {
      width: 100%;
      max-width: 960px;
      margin: 0 auto;
      position: relative;
  }
  .closePopup  {
      cursor: pointer;
  }